.container {
    margin-top: 1em;
    padding: 0.5em;
}

.container > * + * {
    margin-top: 1em;
}

.site_title {
    text-align: center;
    font-size: calc(1em + 2vw);
}

@media (min-width: 48em) {
    .container {
        max-width: 76em;
        margin-left: auto;
        margin-right: auto;
    }
}